<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.play.ucenter.model.UserAuditInfoMapper" >
  <resultMap id="BaseResultMap" type="com.play.ucenter.model.UserAuditInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="audit_type" property="auditType" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Where">
    <if test="userId != null">and user_id= #{userId}</if>
    <if test="auditType != null">and audit_type= #{auditType}</if>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, audit_type, content, creator, created_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_audit_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_audit_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.play.ucenter.model.UserAuditInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_audit_info (user_id, audit_type, content, 
      creator, created_date)
    values (#{userId,jdbcType=BIGINT}, #{auditType,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{creator,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.play.ucenter.model.UserAuditInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_audit_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="auditType != null" >
        audit_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="auditType != null" >
        #{auditType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.play.ucenter.model.UserAuditInfo" >
    update user_audit_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="auditType != null" >
        audit_type = #{auditType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.play.ucenter.model.UserAuditInfo" >
    update user_audit_info
    set user_id = #{userId,jdbcType=BIGINT},
      audit_type = #{auditType,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=BIGINT},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from user_audit_info where 1=1
    <include refid="Base_Where"/>
  </select>
</mapper>