.h6{
    font-size: 18px;
    color: #000000;
    line-height: 21px;
    margin-bottom: 5%;
}
.h6Icon{
    height: 19px;
    width: 3px;
    margin-right: 1%;
    background: #0096ff;
    display: inline-block;
    vertical-align: middle;
}
.bookListBox{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.bookList{
    color: #999999;
    font-size:14px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    width: 72%;
    text-align: justify;
}
.bookListImg{
    width: 75px;
    height: 100px;
    margin-right: 3%;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
}
.bookListImg img{
    width: 100%;
    height: 100%;
}
.bookName{
    color: #000000;
    font-size: 18px;
    width: 73%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bookInfo{
    margin: 4px 0 14px;
    height:42px;
    font-size: 15px;
    overflow: hidden;
    line-height: 24px;
    letter-spacing: 0.05px;
}

.authorNmae{
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30%;
    font-size: 15px;
}
.authorBox{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.bookGenre > :last-child{
    margin-left: 0;
}
.bookGenrePublic{
    border: 1px solid #999999;
    border-radius: 3px;
    float: right;
    padding: 3px;
    margin-left: 10px;
    vertical-align: middle;
    height: 14px;
    line-height: 14px;
}
.bookGenrePublicStyle{
    border: 1px solid #82bce5;
    color: #82bce5;
}
.pd1Box{
    padding: 5% 15px;
}
.pd1Box > .bookListBox:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
small{
    display: block;
    font-size: 14px;
    color: #000000;
    padding: 5% 15px;
}
.readingBoxBook{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 5% 15px;
}
.readingBoxBookInfo{
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.readingBook{
    height: 100px;
    width: 75px;
    margin-right: 2.5%;
}
.readingBoxName{
    color: #000000;
    font-size: 18px;
    margin-bottom: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.readingBoxAuthor,
.readingBoxsize,
.readingBoxType{
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.readingBtn{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
}
.readingBtnPub{
    width: 45%;
    height: 32px;
    color: #3399ff;
    border: 1px solid #3399ff;
    background: none;
    border-radius: 4px;
    outline: none;
}
input.readingActive{
    background: #3399ff;
    color: #ffffff;
}
.readingContP{
    font-size: 14px;
    line-height: 1.5;
    padding: 5% 15px;
    text-align: justify;
}
.tag{
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #000000;
    font-size: 14px;
    padding: 0 4px;
}
.tagPub{
    width: 25%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 5%;
    box-sizing: border-box;
}
.tagCont{
    width: 81%;
    height: inherit;
    display: inline-block;
    margin: 0 auto;
    box-sizing: inherit;
    vertical-align: middle;
}
.tagPubStyle1{
    border: 1px solid #03a9fc;
    background: #e2f3fb;
}
.tagPubStyle2{
    border: 1px solid #ffa85b;
    background: #faf3ed;
}
.tagPubStyle3{
    border: 1px solid #91c46a;
    background: #f3f7e9;
}
.tagPubStyle4{
    border: 1px solid #fc9da4;
    background: #f9ebeb;
}
.radingBottonBox{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    padding: 5% 15px;
    border-top: 1px solid #e5e5e5;
}
.readingBotLImg{
    height: 10px;
}
.readingBotL{
    color: #000000;
}