/* 项目新添加的属性
---------------------------------------------------------- */
	@font-face {
		/*font-family: 'pingfang';
		src: url("../fonts/PingFang Medium.ttf");*/
	}

	.newClear:after {
		content: '';
		display: block;
		clear: both;
	}
	.none {
		display: none;
}
/*
html5 css reset
author:l_strive
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
::-ms-clear, ::-ms-reveal{display: none;}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}*/
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
body {
	line-height: 1;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

html{
	background: #f2f2f2;
}

ol, ul {
	list-style: none;
	overflow: hidden;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input:not ([type] ), input[type="color"], input[type="email"], input[type="number"],
	input[type="password"], input[type="tel"], input[type="url"], input[type="text"]
	{
	padding: 0px 0px;
}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* 基本属性
---------------------------------------------------------------------------------------------------------------------- */
body {
	background: #fff;
	color: #666;
	font-size: 12px;
	text-align: left;
	font-family: pingfang, 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI',
		Tahoma, Helvetica, Sans-Serif;
}

a {
	text-decoration: none;
	font-family: pingfang, 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI',
		Tahoma, Helvetica, Sans-Serif;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	/* color: #f00; */
	text-decoration: none;
}

button, select, textarea {
	font-size: 16px;
	color: #444;
	font-family: pingfang, 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI',
		Tahoma, Helvetica, Sans-Serif;
}

input {
	font-size: 14px;
}

.fB {
	font-weight: bold;
}

/* 颜色属性*/
.red, a.red:link, a.red:visited {
	color: #c00;
	text-decoration: none;
}

a.red:hover {
	color: #f00;
	text-decoration: none;
}

/* 清除浮动
---------------------------------------------------------- */
.cl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cl {
	zoom: 1;
}

/* 公共的基础头部样式1 */
.bookHeader{
	padding: 12px 0;
	box-shadow: 0 2px 6px 0 rgba(224, 224, 224, 0.75);
	position: relative;
	text-align: center;
	color: #333333;
	font-size: 18px;
	font-weight: 900;
	background: #ffffff;
}
.bookHeader > div{
	width: 70%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bookHeaderImg{
	height: 1em;
	left: 15px;
	position: absolute;

}
/* 公共的基础头部样式2 */
header{
	padding: 15px 10px 18px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.userLogin{
	height: 35px;
	margin: 0 10px 0 4px;
	position: relative;
}
.userLoginImg{
	height: 35px;
	border-radius: 50px;
	border: 1px solid #cccccc;
}
.userLoginIcon{
	display: block;
	width:10px;
	height: 10px;
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 10px;
	background: #f70000;
}
.sreach{
	height: 35px;
	background: #ededed;
	border-radius: 8px;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.sreachIcon{
	width: 20px;
	vertical-align: middle;
	margin: 0 2%;
}
.sreachInput{
	width: 85%;
	height: 100%;
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* 公共的底部导航 */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 8px 0;
	border-top: 1px solid #b2b2b2;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.footerNavText{
	color: #969696;
	text-align: center;
	margin-top: 4px;
}
.footerNav{
	text-align: center;
}
.footerNavImg{
	height: 20px;
}
.footerBg{
	height: 55px;
}
/* 公共的加载 */
.bookLoad{
	background: #eeeeee;
	color: #8c8c8c;
	text-align: center;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	margin: 0px 10px;
	font-size: 16px;
}
/* 公共其他类 */
.newBg{
	background: #ffffff;
}
.notBh{
	box-shadow: none;
}
.notBd{
	border: none;
}
.addBxsh {
	box-shadow: 0 2px 6px 0 rgba(224, 224, 224, 0.75);
}
.addBxsh1 {
	box-shadow: 2px 0 6px 0 rgba(224, 224, 224, 0.75);
}
.hr{
	height: 10px;
	background: #f2f2f2;
}